*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2A0944;
}

/* HEADER AND NAV SETTINGS */
.title-text{
    font-family: "Poppins";
    font-weight: 700;
    color: #FEC260;
    font-size: 7vh;
    margin-left: 5vh;
    margin-top: 5vh;
    margin-bottom: 6vh;
    cursor: default;
    transform: translateY(-150%);
    opacity: 0;
}

/* GRID CONTAINER */

.grid-container{
    margin: 0 auto;
    display: grid;
    width: 50%;
    min-height: 70vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: translateY(-150%);
    opacity: 0;
}

/* GRID BORDERS */

.grid{
    border: 3px solid #A12568;
    clip-path: circle(0.0% at 50% 0);
    opacity: 0;
    font-family: "Kanit";
    font-size: 15vh;
    text-align: center;
    color: #2A0944;
    text-shadow: -1px -1px 0 #FEC260, 1px -1px 0 #FEC260, -1px 1px 0 #FEC260, 1px 1px 0 #FEC260;
}

.grid:hover{
    cursor: pointer;
}

.grid.one{
    border-left: none;
    border-top: none;
}

.grid.two{
    border-top: none;
}

.grid.three{
    border-top: none;
    border-right: none;
}

.grid.four{
    border-left: none;
}

.grid.six{
    border-right: none;
}

.grid.seven{
    border-left: none;
    border-bottom: none;
}

.grid.eight{
    border-bottom: none;
}

.grid.nine{
    border-right: none;
    border-bottom: none;
}

/* CURRENT TURN */

.current-turn-container{
    position: absolute;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    top: 6.5vh;
    right: 5vh;
    cursor: default;
    transform: translateY(-150%);
    opacity: 0;
}

.current-turn{
    font-size: 4vh;
    font-family: "Poppins";
    color: #A12568;
}

.options-container{
    display: flex;
    gap: 10vh;
    justify-content: center;
}

.options-one{
    text-align: center;
    font-size: 5vh;
    font-family: "Poppins";
    width: 10vh;
    color: #FEC260;
    cursor: default;
    background-color: #A12568;
}

.options-two{
    text-align: center;
    font-size: 5vh;
    font-family: "Poppins";
    width: 10vh;
    color: #FEC260;
    cursor: default;
    background-color: #A12568;
}

/* GO BACK BUTTON */

.go-back-container{
    position: absolute;
    left: 10vh;
    bottom: 10vh;
}

.go-back-button{
    border: none;
    position: relative;
    font-family: "Kanit", sans-serif;
    font-size: 400;
    font-size: 2rem;
    color: #A12568;
    padding: 1vh;
    /* border-radius: 50px; */
    /* background: linear-gradient(145deg, #351656, #3f1a66); */
    background-color: #3B185F;
}

.go-back-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6vh;
    bottom: 0;
    right: 0;
    background-color: #FEC260;
    z-index: -1;
}

.go-back-button:hover::after{
    animation: goDown 1s ease forwards;
    
}

@keyframes goDown {
    0% {
        transform: translate3d(0, 0, 0);
        border: 3px solid #A12568; 
    }
    100%{
        transform: translate3d(0, 10%, 0);
        border: 3px solid #A12568;
        background-color: #FEC260; 
        color: #3B185F;
    }
}
