* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A0944;
}

/* Making the Header */

.title-text{
    overflow: hidden;
    position: relative;
    display: flex;
    font-family: "Poppins";
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    color: #FEC260;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.title-text::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color:#A12568;
    transform: translate3d(110%, 0, 0);
    animation: flow 1.5s ease-in-out infinite;
}
.title-text:hover{
    cursor: default;
}

@keyframes flow{
    0% {
        transform: translate3d(110%, 0, 0);
    }
    100% {
        transform: translate3d(-110%, 0, 0);
    }
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON SECTION */

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.local-multiplayer-button{
    border: none;
    position: relative;
    font-family: "Kanit", sans-serif;
    font-size: 400;
    font-size: 2rem;
    color: #A12568;
    padding: 30px;
    /* border-radius: 50px; */
    /* background: linear-gradient(145deg, #351656, #3f1a66); */
    background-color: #3B185F;
}

.local-multiplayer-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    background-color: #FEC260;
    z-index: -1;
}

.local-multiplayer-button:hover::after{
    animation: goDown 1s ease forwards;
    
}

@keyframes goDown {
    0% {
        transform: translate3d(0, 0, 0);
        border: 3px solid #A12568; 
    }
    100%{
        transform: translate3d(0, 10%, 0);
        border: 3px solid #A12568;
        background-color: #FEC260; 
        color: #3B185F;
    }
}